


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 657px;
    background-image: url(../img/back1.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
}
#cabecalho {
    width: 100%;
    height:60px;
    background-color: rgba(250, 250, 250, .8);
}
div .container {
    height: 60px;
    position: relative;   
}
#logo {
    margin: 10px 10%;
    height: 30px;
}
nav {
    float: right;
    margin: 16px 10%;    
}
nav ul li {
    margin-left: 10px;
    display: inline;
}
nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
nav ul li a:hover {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #00B0DC;
}
#meApresenta {
    height: 327px;
}
.fotoArea img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #fff;  
}
h3, h1 {
    color: #fff;
}


.midiasSociais ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #fff;
}