


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 790px;
    background-image: url(../img/back1.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}
#cabecalho {
    position: fixed;
    width: 100%;
    height:80px;
    background-color: rgba(247, 247, 247, .1);
}
#cabecalho .container {
    height: 80px;
    position: relative;   
}
#logo {
    margin: 25px 10%;
    height: 30px;
}
nav {
    float: right;
    margin: 28px 10%;    
}
nav ul {
    margin: 0 10px 0 0;
}
nav ul li {
    margin: 0 10px 0 0;
    display: inline;
}
nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
nav ul li a:hover {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #00B0DC;
}

#areaPrincipal {
    width: 370px;
    height: 327px;
    margin: auto;
    top: 215px;
    background-color: aqua;
    position: relative;
}
.fotoArea img {
    position: relative;
    left: 50%;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #fff;  
}
h3, h1 {
    color: #fff;
}


.midiasSociais ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #fff;
}