#header {
	display: flex;
	flex-direction: column;
	background-color: #212529;
	height: 700px;
	background-image: url("../../../img/back1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#cabeca {
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 5;
}
#cabeca .section-cabeca {
	width: 100%;
	height: 60px;
	padding: 25px 0;
	display: flex;
	justify-content: space-around;
	z-index: 5;
}
.logo {

	height: 30px;
}
#cabeca .menu {
	margin: 5px 0;
}
#cabeca .menu ul {
	display: inline-flex;
	margin: 0;
}
#cabeca .menu ul li {
	margin: 0 10px;
}
#capa {
	position: relative;
	width: 370px;
    height: 327px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#capa .foto {
	width: 160px;
	height: 160px;
	border: 5px solid #fff;
	border-radius: 50%;
}
#capa .midiais-sociais ul {
	display: flex;
}
#capa .midiais-sociais li {
	display: flex;
	justify-content: center;
	height: 35px;
    width: 35px;
    line-height: 34px;
    margin: 5px;
    border: 1px solid  rgba(247, 247, 247, .3);
}
#header .frase {
	margin: auto;
}

